<!DOCTYPE HTML>
 <HTML>
	       
		    <title>
			MY FIRST page
             </title>
			 <!-- I am linking  my CSS to my HTML page-->
            <head>
				<link rel="stylesheet" href="myCssAnimations.css">
				<link rel="stylesheet" href="B12.css">
			 </head>
			 
			 <body>
			  
			  <h1 style="color: green; text-shadow: 2px 2px 4px #ccc;"> this is a headin </h1>
				  
				  <h2> this is a heading </h2>
				  <h3> this is a heading </h3>
				  <p style="font-size : 22px; color : blue;"> this is a paragraph </p>
				  
				  
				    <h1> sign up </h1>
					
					  <form>
					  <label for="username"> username: </label>
					  <input type="username" id="username" name="username=" placeholder="This is a username">
					  <input type="submit" value="login">
					</form>
					
			<div class="color-change">
			<p class="fadeIn">This graph is styled using an external css class. </P>
			<p> this is my another paragraph </p>
			<h1> this is a test heading </h1>
			</div>
			
			<div class="swing"> this is a swing text</div>
			<div class="zoom">
			<p class="color-change">this is a zigzag</p>
			</div>
			<div class="myDiv"> </DIV>
			
			
			
			</body>
		
		<!--List in html-->
		
		      <ol>
			    
				 <li>FIRST
				   <ul style="list-style-type : square;">
				   <li> class 1 </li>
				   <li> class 2 </li>
				   </ul>
				   <li> 2nd </li>
				   <li> 3rd </li>
				 </ol>
				 <ul>
				 <li> first </li>
				 <li> 2nd </li>
				 <li> third </li>
				</ul>
				
		<a href="https://www.google.com"> visit this website </a>
</html>
			
