<!DOCTYPE html>
<html>
<head>
<title>Page Title to check </title>
</head>
<body>

<h1>This is a Heading and I am in class  1</h1>
<p style="background-color:Tomato;"> <mark> This is a paragraph. I am testing it <mark></p>

<ul> item1 </ul>
<ul> item2 </ul>

<li> abc </li>
<li> def </li>
    <forn>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" placeholder="enter your firdt name"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value=""><br>
    <label for="lname">Email:</label><br>
    <input type="text" id="emal" name="email" value="abc@def.com"><br><br>
    <input type="submit" value="Submit">&nbsp;
  </form> 
<button> mybutton  </button> &nbsp

</body>
</html>


